.fa-facebook-official{
	color:#3A5795;
}

.fa-google-plus-square{
	color:#DF4B38;
}

.adjust{
	float: left;
	padding-right: 5px;
}

/* #bttn {
	height: 28px;
  width: 80px;
} */

#bttn {
  background: #587898;
  border: none;
  color: #fefefe;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  margin: 0px 10px 0 0;
  padding: 5px 11px;
  position: relative;
  text-decoration: none;
}

.viraldownloader_url {
	color: blue;
	cursor: pointer;
	font-size: 15px;
	text-decoration: underline;
}